.blog_top_section{
  padding: 60px 0;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  h1{
    color: #6E8999;
    font-weight: 600;
  }
}
.category_blog{
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 40px;
  justify-content: flex-start;
  @include _media-md-down() {
    margin-bottom: 15px;
  }
    li{
    width: auto;
    height: 45px;
    margin-bottom: 15px;
    border: 1.5px solid $brand-primary;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 21px;
    margin-left: 10px;
    margin-right: 10px;
    transition: all .3s ease-in-out;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
    &:hover{
      background-color: $brand-hover;
      transition: all .3s ease-in-out;
      border: 1.5px solid $brand-hover;
    }
    @include _media-md-down() {
      margin-left: 6px;
      margin-right: 6px;
    }
      a{
        display: flex;
        width: 100%;
        height: 100%;
        padding: 0 35px;
        align-items: center;
        @include _media-md-down() {
          padding: 0 15px;
        }
      }
      span{
        padding: 0 35px;
        @include _media-md-down() {
          padding: 0 15px;
        }
      }
      &.active{
        background-color: $brand-hover;
        border: 1.5px solid $brand-hover;
      }
    }
}
.blog_section {

}

.posts_pagination{
  ul{
    display: flex;
    justify-content: center;
    width: 100%;
    margin-top: 15px;
    li{
      padding: 13px 18px;
      font-size: 18px;
      margin: 5px;
      border-radius: 5px;
      background-color: #ECECEC;
      color: #3f3f3f;
      cursor: pointer;
      transition: all .3s ease-in-out;
      &:hover{
          background-color: #FF6D1B;
          color: white;
          transition: all .3s ease-in-out;
      }
    }
  }
}