.home_top_main_section{
  background-image: url("/bg_texture.jpg");
  @include _media-lg-down() {
    margin-top: -70px;
  }
  @include _media-xs-down() {
    padding-top: 60px;
  }
  }
.home_top_section{
  padding-top: 120px;
  padding-bottom: 60px;
    @include _media-xs-down() {
    padding-top: 23px;
    padding-bottom: 0;
  }
    h1,h2,h3,h4,h5,h6{
    color: $brand-primary;
  }
  h1{
    margin-bottom: 85px;
    font-weight: 600;
    line-height: 1.1;
    max-width: 370px;
    @include _media-small-down() {
      line-height: 1.3;
      text-align: center;
      margin: auto;
      margin-bottom: 30px;
      font-size: 43px;
    }
    @include _media-xs-down() {
      margin-bottom: 0;
    }
    }
  .home_subtitle{
    background-image: url('/home_subtitle.svg');
    padding: 47px 50px;
    margin-left: -50px;
    background-size: contain;
    display: inline-block;
    background-position: center;
    background-repeat: no-repeat;
  }
  .home_top_image_warship{
    @include _media-small-down() {

      height: 350px;
      div {
        height: 100%;

        img {
          object-fit: contain;
        }
      }
    }
  }
  .row{
    align-items: center;
    .col-md-6{
      padding-bottom: 100px;
    }
    .home_top_image{
      height: 700px;
      div{
        position: absolute !important;
        div{
          position: unset !important;
        }
        img{
          border-radius: 12px;
          object-fit: cover;
        }
        &:first-child{
          position: absolute;
          top: 10%;
          width: 100%;
          height: 50%;
          left: -10%;
          img{
          }
        }
        &:nth-child(2){
          right: -10%;
          top: 40%;
          width: 70%;
          height: 40%;
          img{
          }
        }
        &:nth-child(3){
          right: 20%;
          top: 0;
          width: 70%;
          height: 100%;
          img{
          object-fit: contain;
          }
        }
      }
    }
  }
}

.home_key_section{
  padding-bottom: 80px;
  @include _media-lg-down() {
    padding-bottom: 60px;
  }
  @include _media-small-down() {
    padding-bottom: 40px;
  }
    .key_service_inner{
    background-color: $brand-btn;
    height: 100%;
    position: relative;
    background-position: right bottom;
    background-size: contain;
    background-repeat: no-repeat;
    min-height: 400px;
    padding: 40px;
    @include _media-lg-down() {
      min-height: 340px;
    }
      @include _media-md-down() {
        min-height: 290px;
        padding: 26px;
    }
      @include _media-small-down() {
        min-height: 260px;
        padding: 26px;
    }
      h2{
       font-weight: 600;
        max-width: 360px;
        line-height: 1.2em;
    }
    ul{
      margin-top: 25px;
      li{
        margin-bottom: 10px;
        a{
          font-weight: 400;
        }
      }
    }
  }
  .light_section{
    padding: 7px;
    .key_service_inner{
      background-color: $brand-btn;
      border-radius: 10px;
      h2,h3,h4,h5,h6, a{
        color: $brand-primary;
      }
    }
  }
  .dark_section{
    padding: 7px;
    .key_service_inner{
      background-color: $brand-secondary;
      border-radius: 10px;
      h2,h3,h4,h5,h6, a{
        color: $white;
      }
      h2{
        max-width: 320px;
        line-height: 1.5em;
      }
    }
  }
}

.home_why_us_section{
  background-color: $brand-primary;
  padding: 100px 0 150px;
  z-index: 1;
  position: relative;
  overflow: inherit;
  .pink_arrow{
    position: absolute;
    top: -130px;
    height: 300px;
    object-fit: contain;
    left: 50%;
    margin-left: -60px;
  }
  @include _media-lg-down() {
    padding: 80px 0 100px;
    .pink_arrow{
      height: 200px;
      top: -80px;
      margin-left: -40px;
    }
  }
  @include _media-md-down() {
    padding: 60px 0 90px;
  }
  @include _media-small-down() {
    .pink_arrow {
    display: none;
    }
    }
    @include _media-xs-down() {
    padding: 45px 0 60px;
  }
    .name_section{
    .col-12{
      padding-top: 0;
      h1,h2,h3,h4,h5,h6 {
        color: $white;
      }
    }
  }
  .why_us_container{
    color: white;
    display: flex;
    flex-wrap: wrap;
    border: 1px solid white;
    border-radius: 7px;
  }
  .why_us_content_left, .why_us_content_center, .why_us_content_right{
    width: 33.33339%;
    @include _media-xs-down() {
      width: 100%;
    }
    .home_why_us_inner{
      padding: 25px;
      display: flex;
      align-items: center;
      @include _media-md-down() {
      display: block;
      }
      @include _media-small-down() {
        padding: 17px;
      }
      @include _media-xs-down() {
       display: flex;
      }
        p{
        margin-bottom: 0;
        line-height: 1.5;
      }
      img{
        width: 55px;
        height: auto;
        margin-right: 10px;
        margin-bottom: 10px;
      }
    }
  }
  .why_us_content_left, .why_us_content_right{
    .home_why_us_inner{
      &:first-child{
        border-bottom: 1px solid white;
      }
    }
  }
  .why_us_content_center{
    border-left: 1px solid white;
    border-right: 1px solid white;
    @include _media-xs-down() {
     border: none;
      border-bottom: 1px solid white;
      border-top: 1px solid white;
    }
    .home_why_us_inner{
      display: block;
      @include _media-xs-down() {
      display: flex;
        align-items: center;
        p{
          width: auto;
        }
      }
        img{
        margin-bottom: 15px;
      }
    }
  }
}

.home_video_section {
  position: relative;
  height: 700px;
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  color: white;
  @include _media-lg-down() {
    height: 550px;
  }
  @include _media-md-down() {
    height: 450px;
  }
  @include _media-small-down() {
    height: 350px;
  }
    video{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
  }
}

.success_cases_section{
  padding: 80px 0 0px;
@include _media-md-down() {
  padding: 60px 0 0px;
}
@include _media-xs-down() {
  padding: 45px 0 0px;
}
  .slick-slide{
    padding: 10px;
    .projects_slider_item{
      height: 350px;
      background-size: cover;
      border-radius: 10px;
      position: relative;
      z-index: 1;
      @include _media-big-down() {
        height: 300px;
      }
        .h3{
        color: white;
          position: absolute;
          width: 100%;
          height: 100%;
          padding: 30px;
          z-index: 1;
      }
      ul{
        position: absolute;
        bottom: 40px;
        left: 30px;
        display: flex;
        flex-wrap: wrap;
        z-index: 3;
        li{
          a{
            color: white;
            margin-right: 10px;
            padding: 10px 17px;
            border-radius: 3px;
            border: 1px solid white;
            font-weight: 400;
          }
        }
      }
    }
  }
}

.home_success_logo_section{
  padding-top: 80px;
  padding-bottom: 80px;
  @include _media-md-down() {
    padding-top: 60px;
    padding-bottom: 60px;
  }
  @include _media-small-down() {
    padding-top: 36px;
    padding-bottom: 36px;
  }
  .slick-track{
    display: flex !important;
    align-items: center;
  }
  .slick-slide img {
    margin: auto;
    max-width: 90%;
  }
  .home_success_logo_img{
    text-align: center;
    display: flex !important;
    align-items: center;
    justify-content: center;
    height: 70px;
  }

}

.home_our_clients_section{
  background-color: $brand-btn;
  background-image: url("/mint_bg.jpg");
  padding-top: 80px;
  padding-bottom: 80px;

  @include _media-md-down() {
    padding-top: 70px;
  }
  @include _media-small-down() {
    padding-top: 45px;
    padding-bottom: 35px;
  }
  @include _media-xs-down() {
    padding-top: 45px;
    padding-bottom: 30px;
  }
  .slick-next, .slick-prev{
    left: 0px;
    bottom: -40px;
    top:auto;
    color: $white;
    position: absolute;
    font-size: 150px;
    path{
      font-size: 100px;
      width: 100px;
      height: 30px;
    }
    &:before{
      font-size: 100px;
    }
    &:hover{
      color: $brand-primary;
    }
  }
  .slick-next{
    left: 40px;
    color: $brand-primary;
    &:hover{
      color: $white;
    }
  }
    .col-lg-6{
    &:first-child{
      @include _media-md-down() {
        order: 2;
        margin-top: 45px;
      }
      @include _media-xs-down() {
        margin-top: 30px;
      }
      }
  }
  .h5{
    color: white;
    margin-bottom: 50px;
    @include _media-xs-down() {
      margin-bottom: 30px;
    }
  }
  .home_review{
    padding-right: 50px;
    @include _media-md-down() {
      padding-right: 0;
    }
      .home_review_logo{
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding-bottom: 20px;
      margin-bottom: 30px;
      border-bottom: 1px solid $brand-primary;
     .home_review_quotes{
         height: 53px;
       width: auto;
     }
    }

    .home_review_content{
      p{
        font-weight: 500;
        line-height: 1.4em;
      }
img{
  height: 28px;
  margin-bottom: 26px;
}
    }
    .home_review_position{
       display: flex;
      align-items: center;
      h6{
        font-weight: 600;
        margin-top: 14px;
      }
      img{
        margin-right: 20px;
        width: 70px;
        height: 70px;
        border-radius: 80px;
      }
    }
  }
  .home_our_clients_white_block{
    background-color: white;
    padding: 40px;
    border-radius: 8px;
    @include _media-xs-down() {
      padding: 25px;
    }
      h3{
      font-weight: 800;
      margin-bottom: 20px;
      letter-spacing: 1px;
      max-width: 400px;
    }
    p{
      margin-bottom: 10px;
    }
    .home_our_clients_white_block_logo{
      display: flex;
      flex-wrap: wrap;
      @include _media-xs-down() {
      justify-content: center;
      }
        div{
        text-align: center;
        width: 33%;
        padding: 10px;
        &:first-child{
          width: 50%;
        }
        img{
          width: 100%;
          height: auto;
        }
          @include _media-xs-down() {
          width: 50%;
            padding: 6px;
          }
          }

    }
  }
}


.home_bottom_full_image_section{
height: 700px;
  div{
    height: 700px;
    width: 100%;
    img{
      object-fit: cover;
      width: 100%;
    }
  }
  @include _media-lg-down() {
    height: 600px;
    div{
      height: 600px;
    }
  }
  @include _media-md-down() {
    height: 500px;
    div{
      height: 500px;
    }
  }
  @include _media-small-down() {
    height: 350px;
    div{
      height: 350px;
    }
  }
  @include _media-xs-down() {
    height: 250px;
    div{
      height: 250px;
    }
  }
  }

.home_about_as{
  padding-top: 80px;
  padding-bottom: 80px;
  @include _media-md-down() {
    padding-top: 60px;
    padding-bottom: 40px;
  }
    .col-12{
    h2{
     font-weight: 600;
      text-transform:uppercase;
      margin-bottom: 21px;
    }
  }
  .col-md-8{
    h3{
      max-width: 650px;
      margin-bottom: 20px;
      font-weight: 600;
      line-height: 1.3;
    }
    p{
      max-width: 470px;
      line-height: 1.5;
      @include _media-md-down() {
        max-width: 100%;
      }
      }
    .d-flex{
      margin-top: 30px;
      @include _media-md-down() {
        margin-top: 15px;
        margin-bottom: 25px;
      }
      @include _media-xs-down() {
        flex-wrap: wrap;
        margin-bottom: 10px;
      }
        a{
        height: 50px;
        width: 205px;
        text-transform: uppercase;
        border-radius: 60px;
        border: 1px solid $brand-hover;
        color: $brand-hover;
        display: flex;
        font-weight: 500;
        align-items: center;
        justify-content: center;
          @include _media-xs-down() {
          width: 100%;
            margin-bottom: 15px;
          }
            &:hover{
          color: $brand-primary;
          background-color: $brand-hover;
        }
        &:first-child{
          color: $brand-primary;
          background-color: $brand-hover;
          margin-right: 20px;
          @include _media-xs-down() {
            margin-right: 0;
          }
            &:hover{
            color: $brand-hover;
            background-color: unset;
          }
        }
      }
    }
  }
  .col-md-4{
    a {
      height: 39px;
      width: 213px;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 40px;
      background-color: $brand-btn;
      margin-bottom: 15px;
      text-transform: uppercase;
      font-weight: 500;
      letter-spacing: 0.1em;
      &:hover {
        background-color: #00AEA4;
      }
      @include _media-xs-down() {
      margin: auto;
        margin-top: 5px;
        margin-bottom: 15px;
      }
      }
    @include _media-xs-down() {
     text-align: center;
    }
  }
}
.instagram_section{
  padding-bottom: 35px;
  @include _media-small-down() {
    padding-bottom: 0;
  }
    ._wPDyp{
    margin: 0;
    flex-basis: 16.667%;
    @include _media-small-down() {
      flex-basis: 33.3339%;
    }
    @include _media-xs-down() {
      flex-basis: 50%;
    }
  }
}
.about_instagram_section{
  padding-bottom: 30px;
  background-color: $brand-btn;
}