.home_top_section{
  padding-top: 40px;
  padding-bottom: 60px;
  h1,h2,h3,h4,h5,h6{
    color: $brand-primary;
  }
  h1{
    margin-bottom: 85px;
    font-weight: 600;
    line-height: 1.1;
    max-width: 370px;
  }
  .home_subtitle{
    background-image: url('/home_subtitle.svg');
    padding: 47px 50px;
    margin-left: -50px;
    background-size: contain;
    display: inline-block;
    background-position: center;
    background-repeat: no-repeat;
  }
  .row{
    align-items: center;
    .col-md-6{
      padding-bottom: 100px;
    }
    .home_top_image{
      height: 700px;
      div{
        position: absolute !important;
        div{
          position: unset !important;
        }
        img{
          border-radius: 12px;
          object-fit: cover;
        }
        &:first-child{
          position: absolute;
          top: 10%;
          width: 100%;
          height: 50%;
          left: -10%;
          img{
          }
        }
        &:nth-child(2){
          right: -10%;
          top: 40%;
          width: 70%;
          height: 40%;
          img{
          }
        }
        &:nth-child(3){
          right: 20%;
          top: 0;
          width: 70%;
          height: 100%;
          img{
          object-fit: contain;
          }
        }
      }
    }
  }
}

.home_key_section{
  padding-bottom: 80px;
  .key_service_inner{
    background-color: $brand-btn;
    height: 100%;
    position: relative;
    background-position: right bottom;
    background-size: contain;
    background-repeat: no-repeat;
    min-height: 400px;
    padding: 40px;
    h2{
      font-weight: 600;
        max-width: 320px;
        line-height: 1.5em;
    }
    ul{
      margin-top: 25px;
      li{
        margin-bottom: 10px;
        a{
          font-weight: 400;
        }
      }
    }
  }
  .light_section{
    padding: 7px;
    .key_service_inner{
      background-color: $brand-btn;
      border-radius: 10px;
      h2,h3,h4,h5,h6, a{
        color: $brand-primary;
      }
    }
  }
  .dark_section{
    padding: 7px;
    .key_service_inner{
      background-color: $brand-secondary;
      border-radius: 10px;
      h2,h3,h4,h5,h6, a{
        color: $white;
      }
      h2{
        max-width: 320px;
        line-height: 1.5em;
      }
    }
  }
}

.home_why_us_section{
  background-color: $brand-primary;
  padding: 100px 0 150px;
  .name_section{
    .col-12{
      padding-top: 0;
      h1,h2,h3,h4,h5,h6 {
        color: $white;
      }
    }
  }
  .why_us_container{
    color: white;
    display: flex;
    flex-wrap: wrap;
    border: 1px solid white;
    border-radius: 7px;
  }
  .why_us_content_left, .why_us_content_center, .why_us_content_right{
    width: 33.33339%;
    .home_why_us_inner{
      padding: 30px;
      display: flex;
      align-items: center;
      p{
        margin-bottom: 0;
      }
      img{
        width: 50px;
        height: auto;
        margin-right: 15px;
      }
    }
  }
  .why_us_content_left, .why_us_content_right{
    .home_why_us_inner{
      &:first-child{
        border-bottom: 1px solid white;
      }
    }
  }
  .why_us_content_center{
    border-left: 1px solid white;
    border-right: 1px solid white;
    .home_why_us_inner{
      display: block;
      img{
        margin-bottom: 15px;
      }
    }
  }
}

.home_video_section {
  position: relative;
  height: 700px;
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  color: white;
  video{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
  }
}

.success_cases_section{
  .slick-slide{
    padding: 10px;
    .projects_slider_item{
      height: 300px;
      background-size: cover;
      padding: 20px;
      border-radius: 10px;
      h3{
        color: white;
      }
    }
  }
}

.home_success_logo_section{
  padding-top: 80px;
  padding-bottom: 80px;
  .slick-track{
    display: flex !important;
    align-items: center;
  }
  .slick-slide img {
    margin: auto;
  }
  .home_success_logo_img{
    text-align: center;
    display: flex !important;
    align-items: center;
    justify-content: center;
    height: 70px;
  }

}

.home_our_clients_section{
  background-color: $brand-btn;
  padding-top: 120px;
  padding-bottom: 160px;
  .h4{
    color: white;
    margin-bottom: 50px;
  }
  .home_review{
    padding-right: 50px;
    margin-bottom: 100px;
    .home_review_logo{
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding-bottom: 30px;
      margin-bottom: 30px;
      border-bottom: 1px solid $brand-primary;
     .home_review_quotes{
         height: 53px;
       width: auto;
     }
    }

    .home_review_content{
      p{
        font-weight: 600;
        line-height: 1.5em;
      }

    }
    .home_review_position{
       display: flex;
      align-items: center;
      margin-top: 30px;
      img{
        margin-right: 20px;
        width: 80px;
        height: 80px;
        border-radius: 80px;
      }
    }
  }
  .home_our_clients_white_block{
    background-color: white;
    padding: 40px;
    border-radius: 8px;
    h2{
      font-weight: 800;
      margin-bottom: 20px;
      letter-spacing: 1px;
    }
    p{
      margin-bottom: 30px;
    }
    .home_our_clients_white_block_logo{
      display: flex;
      flex-wrap: wrap;
      div{
        text-align: center;
        width: 33%;
        padding: 10px;
        &:first-child{
          width: 50%;
        }
        img{
          width: 100%;
          height: auto;
        }
      }

    }
  }
}


.home_bottom_full_image_section{

}
.home_about_as{

}