.our_projects_section{
  padding-top: 50px;
  padding-bottom: 100px;
  @include _media-lg-down() {
    padding-bottom: 50px;
  }
  @include _media-small-down() {
    padding-bottom: 30px;
    padding-top: 30px;
  }
  @include _media-xs-down() {
    padding-bottom: 0px;
    padding-top: 20px;
  }
    h1{
    font-weight: 600;
    margin-bottom: 25px;
  }
  .projects_row{
    display: flex;
    margin-bottom: 40px;
    .projects_row_inner{
     background-color: #F3F3F3;
      border-radius: 10px;
      padding: 35px 30px;
      a{
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 20px;
        svg{
          font-size: 27px;
          color: $brand-hover;
        }
      }
      .technologies_used{
        display: flex;
        div{
          text-align: center;
          padding: 20px 20px 0 0;
          img{
            height: 38px;
            width: auto;
          }
        }
      }
      @include _media-md-down() {
        border-radius: 0 0 10px 10px;
        padding: 25px 25px;
      }
    }
    .projects_row_image{
      .projects_row_image_inner{
        border-radius: 10px;
        height: 100%;
        background-size: cover;
        background-position: center;
        }
      @include _media-md-down() {
        order: -1;
        .projects_row_image_inner{
          border-radius: 10px 10px 0 0;
          height: 280px;
        }
      }
    }
  }
}

.projects_form_section{
  padding-top: 100px;
  padding-bottom: 100px;
  @include _media-lg-down() {
    padding-top: 60px;
    padding-bottom: 60px;
  }
  @include _media-small-down() {
    padding-bottom: 30px;
    padding-top: 45px;
  }

  .projects_form_section_title{
    h2{
      font-weight: 500;
      margin-bottom: 35px;
    }
  }
  .projects_form_section_form{

  }
}


.project_top_section{
  height: 360px;
  justify-content: left;
  display: flex;
  align-items: center;
  background-color: #0E0E0E;
  position: relative;
  @include _media-md-down() {
    height: 200px;
  }
    h1{
   color: white;
   font-weight: 600;
   text-transform: uppercase;
 }
  div{
    &:first-child{
        position: absolute !important;
        right: 0;
        top: 0;
        height: 100%;
        width: 70%;
      overflow: unset;
        img{
          object-fit: cover;
          object-position: left;
        }
      }
  }

}

.project_about_section{
  padding-top: 120px;
  padding-bottom: 100px;
  @include _media-lg-down() {
    padding-top: 80px;
    padding-bottom: 70px;
  }
  @include _media-md-down() {
    padding-top: 40px;
    padding-bottom: 50px;
  }
    .project_about_section_left{
    a{
      display: inline-flex;
      margin: auto;
      align-items: center;
      justify-content: center;
      margin-top: 20px;
      width: 275px;
      height: 60px;
      background: #FF72CF;
      border-radius: 100px;
      font-weight: 800;
      font-size: 16px;
      letter-spacing: 0.2em;
      text-transform: uppercase;
      color: #151515;
      &:hover{
        background: $brand-pink-hover;
      }
      @include _media-lg-down() {
        width: 252px;
        height: 50px;
        padding-top: 3px;
        font-size: 15px;
      }
    }
  }
  .project_about_section_right{
    padding-left: 150px;
    @include _media-lg-down() {
      padding-left: 30px;
    }
    @include _media-md-down() {
      padding-left: 15px;
      margin-top: 30px;
    }
      div{
      background-color: #F3F3F3;
      border-radius: 5px;
      padding: 30px;
    }
    h2{
      margin-bottom: 30px;
    }
    ul{
      li{
        margin-bottom: 14px;
        padding-left: 30px;
        position: relative;
        display: flex;
        align-items: center;
        &:before{
          content: " ";
          width: 8px;
          height: 8px;
          background-color: $brand-hover;
          position: absolute;
          left: 0;
        }
      }
    }
  }

}

.project_big_image_section{
   background: $brand-btn;
  overflow: hidden;
  background: linear-gradient(0deg, rgba(0,197,185,1) 75%, rgba(249,249,249,1) 75%);
  padding-top: 100px;
  margin-top: -100px;
  .container{
    margin-bottom: -4px;
  }
  .row{
    display: flex;
    padding-top: 100px;
    margin-top: -100px;
    @include _media-xs-down() {
    flex-wrap: wrap;
      display: block;
    }
      .big_image_left {
     //width: 50%;
     overflow: inherit !important;
     z-index: 1;
        @include _media-xs-down() {
          width: 100%;
          height: auto;
        }
     div {
       width: 100%;
       height: 100%;
       overflow: inherit !important;
     }

     img {
       max-width: 120% !important;
       width: 120% !important;
       right: -20% !important;
       object-fit: cover;
       object-position: top;
       border-radius: 10px 10px 0 0;
       @include _media-xs-down() {
         max-width: 100% !important;
         width: 100% !important;
         right: 0 !important;
         border-radius: 10px;
       }
     }
   }
     .big_image_right{
        //width: 50%;
       overflow: inherit !important;
       z-index: 0;
       @include _media-xs-down() {
         //width: 100%;
         //height: auto;
       }
        div{
          width: 100%;
          height: 100%;
        }
        img{
          position: absolute;
          top: auto;
          left: -20% !important;
          bottom: -15% !important;
          right: 0;
          box-sizing: border-box;
          padding: 0;
          border: none;
          margin: auto;
          display: block;
          width: 0;
          height: 0;
          min-width: 120% !important;
          max-width: 120% !important;
          object-fit: cover;
          object-position: top;
          border-radius: 10px;
          @include _media-xs-down() {
            min-width: 100% !important;
            max-width: 100% !important;
            width: 100% !important;
            left: 0 !important;
            border-radius: 10px;
          }
        }
      }

    }
}

.project_paspartoo_made_section{
  padding-top: 80px;
  padding-bottom: 80px;
  @include _media-md-down() {
    padding-top: 60px;
    padding-bottom: 60px;
  }
    .project_paspartoo_made_section_left{
    h2{
      margin-bottom: 30px;
      font-weight: 600;
    }
  }
  .project_paspartoo_made_section_right{
    display: flex;
    flex-wrap: wrap;
    padding-left: 130px;
    @include _media-lg-down() {
      padding-left: 75px;
    }
    @include _media-md-down() {
      padding-left: 15px;
      margin-top: 10px;
    }
      div{
      padding-right: 50px;
        @include _media-lg-down() {
          padding-right: 30px;
        }
        }
    h3{
      font-weight: 500;
      font-size: 85px;
      margin-bottom: 10px;
      span{
        color: $brand-hover;
        margin-left: 6px;
      }
      @include _media-lg-down() {
      font-size: 65px;
      }
      }
    h5{
      font-weight: 600;
      max-width: 150px;
      text-transform: uppercase;
      line-height: 1.1;
    }
  }
}

.project_last_section{
  padding-top: 70px;
  margin-bottom: 100px;
  background: $brand-btn;
  background: linear-gradient(0deg, rgba(249,249,249,1) 15%, rgba(0,197,185,1) 15%);

}