.our_projects_section{
  padding-top: 50px;
  padding-bottom: 100px;
  @include _media-lg-down() {
    padding-bottom: 50px;
  }
  @include _media-small-down() {
    padding-bottom: 30px;
    padding-top: 30px;
  }
  @include _media-xs-down() {
    padding-bottom: 0px;
    padding-top: 20px;
  }
    h1{
    font-weight: 600;
    margin-bottom: 25px;
  }
  .projects_row{
    display: flex;
    margin-bottom: 40px;
    .projects_row_inner{
     background-color: #F3F3F3;
      border-radius: 10px;
      padding: 35px 30px;
      a{
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 20px;
        svg{
          font-size: 27px;
          color: $brand-hover;
        }
      }
      .technologies_used{
        display: flex;
        div{
          text-align: center;
          padding: 20px 20px 0 0;
          img{
            height: 38px;
            width: auto;
          }
        }
      }
      @include _media-md-down() {
        border-radius: 0 0 10px 10px;
        padding: 25px 25px;
      }
    }
    .projects_row_image{
      .projects_row_image_inner{
        border-radius: 10px;
        height: 100%;
        background-size: cover;
        background-position: center;
        }
      @include _media-md-down() {
        order: -1;
        .projects_row_image_inner{
          border-radius: 10px 10px 0 0;
          height: 280px;
        }
      }
    }
  }
}

.projects_form_section{
  padding-top: 100px;
  padding-bottom: 100px;
  @include _media-lg-down() {
    padding-top: 60px;
    padding-bottom: 60px;
  }
  @include _media-small-down() {
    padding-bottom: 30px;
    padding-top: 45px;
  }

  .projects_form_section_title{
    h2{
      font-weight: 500;
      margin-bottom: 35px;
    }
  }
  .projects_form_section_form{

  }
}


.project_top_section{
  height: 400px;
  text-align: center;
  display: flex;
  align-items: center;
  background-size: cover;
  background-position: center;
 h1{
   color: white;
   text-transform: uppercase;
 }
  a{
    display: inline-flex;
    margin: auto;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    width: 243px;
    height: 60px;
    background: #FF72CF;
    border-radius: 100px;
    font-weight: 800;
    font-size: 16px;
    letter-spacing: 0.2em;
    text-transform: uppercase;
    color: #151515;
  }
}

.project_about_section{
  padding-top: 120px;
  padding-bottom: 100px;
  h3{
    text-transform: uppercase;
    margin-bottom: 45px;
  }
  .col-md-7{
    img{
      border-radius: 5px;
      margin-bottom: 30px;
    }
  }
  .col-md-5{
    div{
      background-color: #F3F3F3;
      border-radius: 5px;
      padding: 30px;
    }
    h2{
      margin-bottom: 30px;
    }
    ul{
      li{
        margin-bottom: 14px;
        padding-left: 30px;
        position: relative;
        display: flex;
        align-items: center;
        &:before{
          content: " ";
          width: 8px;
          height: 8px;
          background-color: $brand-hover;
          position: absolute;
          left: 0;
        }
      }
    }
  }

}

.project_big_image_section{
   background-color: $brand-btn;
  overflow: hidden;
  .container{
    margin-bottom: -4px;
  }
  .container>div{
    overflow: unset !important;
    max-width: 120% !important;
    width: 120% !important;
    left: -10% !important;
    img{

    }
  }
}

.project_paspartoo_made_section{
  padding-top: 80px;
  padding-bottom: 80px;
  h2{
    margin-bottom: 30px;
  }
}

.project_last_section{
  padding-top: 100px;
  background-color: $brand-btn;
}