.service_top_section{
  text-align: left;
  h1{
    margin-top: 50px;
    margin-bottom: 20px;
    font-weight: 600;
    max-width: 900px;
  }
h6{
  margin-bottom: 20px;
}
}
.service_section{
  padding-top: 50px;
}