.service_content_section{
 h1,h2,h3,h4,h5,h6{
   margin-bottom: 17px;
   font-weight: 600;
 }
  ul{
    margin-bottom: 20px;
    padding-left: 20px;
    li{
      position: relative;
      margin-bottom: 15px;
      list-style: disc;
    }
  }
}

.service_image_section{
  padding: 10px 0;
  .service_image_big{
    display: block;
    padding: 20px 0;
    @include _media-small-down() {
    display: none;
    }
    }
  .service_image_small{
    display: none;
    padding: 20px 0;
    @include _media-small-down() {
      display: block;
    }
  }
}