.services_title_description{
padding: 15px 0;

  .col-md-6, .col-12, .col-lg-6{
    @include _media-md-down() {
      margin-bottom: 0px;
    }
    div{
      margin-right: 30px;
      padding: 15px 0;
      &:first-child{
        h4{
          text-transform: uppercase;
          color: $brand-primary;
          margin-bottom: 0;
          line-height: 1.4;
          font-weight: 600;
          display: flex;
          span{
            color: $brand-btn;
          }
          @include _media-lg-down() {
            font-size: 19px;
          }
        }
        padding-bottom: 17px;
        margin-bottom: 17px;
        border-bottom: 1px solid $brand-btn;
        @include _media-md-down() {
          padding-bottom: 10px;
          margin-bottom: 10px;
        }
      }
      &:last-child{
        p{
          color: $brand-primary;
          line-height: 1.6em;
        }
      }
    }
  }

  .col-md-6, .col-lg-6{
    //flex: 1 0 0% !important;
    display: flex;
    flex-direction: column;
    .services_card_top_block{
      display: flex!important;
      height: 100% !important;
    }
    .services_card_content_block{
      height: auto;
    }
    .services_card_bottom_block{
      flex: 1 1 auto;
      min-height: 1px;
    }
  }

}



