.services_contact{
  padding-top: 80px;
  padding-bottom: 80px;
  .row{
    display: flex;
    align-items: center;
  }
  p{
    color: $brand-primary;
  }
  h1,h2,h3,h4,h5,h6 {
    color: $brand-primary;
    font-weight: 700;
    margin-bottom: 15px;
    margin-top: 5px;
  }
  ul{
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}