footer{
  color: $white;
  @include _media-small-down() {
  text-align: center;
    padding-top: 20px;
    padding-bottom: 15px;
  }


  .footer_top_fluid{
    background-color: #22292E;
    .container{
      min-height: 110px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      position: relative;
      @include _media-xs-down() {
       min-height: 70px;
        img{
          margin: auto;
        }
      }
        ul{
        display: flex;
        li{
          margin-right: 15px;
          a{
            color: $white;
            font-size: 22px;
            &:hover{
              color: $brand-btn;
            }
          }
        }
          @include _media-xs-down() {
                 display: none;
          }
          }
    }

  }

  .footer_block_fluid{
    background-color: #171C1F;
    padding-top: 68px;
    @include _media-small-down() {
      padding-top: 55px;
      padding-bottom: 55px;
    }
    @include _media-xs-down() {
      padding-top: 40px;
    }
      .footer_block{
      .contacts{
        .phone a {
          font-size: 32px;
          font-weight: 700;
          color: $white;
          margin-bottom: 40px;
          &:hover{
            color: $brand-btn;
          }
        }
        a{
          color: #12A9EA;
          display: flex;
          align-items: flex-start;
          font-size: 20px;
          margin-bottom: 30px;
          svg{
            margin-right: 10px;
            color: $white;
          }
        }
        @include _media-md-down() {
         a{ font-size: 18px;}
          .phone a {
            font-size:18px;
            margin-bottom: 20px;
          }
        }
          @include _media-small-down() {
          margin-bottom: 25px;
          .phone a {
            font-size:27px;
            margin-bottom: 20px;
          }
          a{
            justify-content: center;
            font-size: 16px;
            margin-bottom: 15px;
          }
        }
        }
      h6{
        color: $white;
        font-weight: 700;
        font-size: 16px;
        letter-spacing: 1px;
        margin-bottom: 18px;
      }
      a {
        color: $white;
        &:hover{
          color: $brand-btn;
        }
      }
      ul{
        padding-bottom: 35px;
        li{
          padding-bottom: 12px;
          a{

          }
        }
      }
    }
  }
  .contacts{
    .footer_social_sm{
      display: none;
      justify-content: center;
      margin-bottom: 0;
      padding-bottom: 0 !important;
        li {
          margin-right: 5px;
          margin-left: 5px;

          a {
            color: $white;
            font-size: 20px;

            &:hover {
              color: $brand-btn;
            }
          }
        }
        @include _media-xs-down() {
          display: flex;
        }
    }
    .phone{
      .footer_social_sm{
        a{
          font-size: 18px !important;
          padding: 15px;
          border: 1px solid white;
          border-radius: 50%;
          svg{
            margin: 0;
          }
        }
      }
    }
  }
}