.header{
  height: auto;
  background-color: white;
}
.header_fluid{
  width: 100%;
  z-index: 9999;
  padding: 0 10px;
  height: 80px;
  display: flex;
  align-items: center;
  &.home_header{
    position: absolute;
    background-color: unset !important;
    .mobile_menu{
      background-image: url("/bg_texture.jpg");
    }
  }
  @include _media-lg-down() {
    top: 0px;
    width: 100%;
    z-index: 9999 !important;
    padding: 0px;
    position: fixed;
    padding: 0 15px;
    padding-right: 40px;
    background-color: #f9f9f9;
  }
  @include _media-small-down() {
    z-index: auto;
  }

  .header_btn{
    color: $brand-primary;
    display: flex;
    align-items: center;
    font-size: 14px;
    a{
      display: flex;
      align-items: center;
      span{
        display:inline-flex;
        margin-right: 10px;
      }
    }
    @include _media-md-down() {
      position: absolute;
      right: 55px;
    }
    @include _media-small-down() {
      a{
        font-size: 0 !important;
        span{
          font-size: 20px;
        }
      }
    }
    @include _media-xs-down() {
      display: none;
    }
    a{
      font-weight: 600;
      margin-left: 10px;
      margin-bottom: -5px;
      font-size: 14px;
      color: $brand-primary;
      cursor: pointer;
      @include _media-big-down() {
        font-size: 14px;
      }
      @include _media-lg-down() {
        font-size: 14px;
      }
      &:hover{
        color: $brand-btn;
      }
    }
    button{
      background: $brand-btn;
      -webkit-border-radius: 5px;
      border-radius: 40px;
      border: 0;
      font-weight: 400;
      font-size: 14px;
      color: $brand-primary;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 185px;
      height: 38px;
      text-transform: uppercase;
      margin-left: 15px;
    }
  }



  .head_menu {
    height: 50px;
    display: flex;
    align-items: center;
    @include _media-md-down() {
      height: 70px;
    }

    .header_logo{
      padding-right: 0;
      @include _media-lg-down() {
        max-width: 225px;
      }
      a {
        display: flex;
        align-items: center;
      }
      img,svg{
        width: 100%;
        height: 100%;
        max-width: 166px;
        object-fit: contain;
        display: block !important;
      }
      @include _media-md-down() {
        z-index: 5;
      }
    }

    .head_menu_col{
      text-align: left;
      @include _media-md-down() {
        position: absolute;
        right: 15px;
      }
      .menu-menu-container{
        display: flex;
        align-items: center;
        justify-content: left;
        margin-left: 30px;
        height: 50px;
        @include _media-big-down() {
          margin-left: 10px;
        }
          @include _media-lg-down() {display:none;}
        ul{
          height: 100%;
        }
        li{
          cursor: pointer;
          display:inline-flex;
          align-items: center;
          height: 100%;
          margin-left: 26px;
          @include _media-big-down() {
            margin-left: 16px;
          }
            &:hover {
            a{
              color: $brand-hover;
            }

          }
          &:first-child {
            margin-left: 0;
          }
          span {
            display: none;
          }
          @include _media-lg-down() {
            margin-left: 26px;
          }
          a{
            vertical-align:bottom;
            color: $brand-primary;
            font-family: $family-title;
            font-weight: 400;
            font-size: 14px;
            text-transform: uppercase;
            height: 100%;
            display: flex;
            align-items: center;
            @include _media-big-down() {
              font-size: 14px;
            }
            @include _media-lg-down() {
            }
            &:hover {
              color: $brand-hover;
            }
          }
          &.active{
            a{
              color: $brand-hover !important;
            }
          }
        }
        .menu_services{
          position: relative;
          &:hover {
            a{
              color: $brand-primary;
            }
            .services_submenu{
              display: block;
              ul{
                //display: none;
              }
            }
          }
          a{
            border: 1px solid $brand-btn;
            height: 36px;
            padding: 0 42px;
            border-radius: 45px;
            background-color: $brand-btn;
            color: $white;
            font-weight: 600;
            &:hover {
              color: $brand-primary;
            }
          }
          .services_submenu{
            display: none;
            position: absolute;
            z-index: 999;
            top: 50px;
            height: auto;
            flex-wrap: wrap;
            width: max-content;
            background-color: $brand-btn;
            padding-top: 25px;
            padding-bottom: 25px;
            border-radius: 20px 0 0 20px;
            svg{
              display: none;
            }
            li{
              display: block;
              height: auto;
              margin-left: 0;
              padding: 13px 30px;
              color: white;
              ul{
                //display: none;
                position: absolute;
                z-index: 1;
                padding-top: 25px;
                padding-bottom: 25px;
                padding-left: 20px;
                left: 100%;
                top: 0;
                background-color: $white;
                width: 310px;
                border-radius: 0 20px 20px 0;
                li{
                  padding: 0;
                  a{
                    border: none;
                    border-radius: 0;
                    height: auto;
                    padding: 12px 0;
                    color: $brand-primary;
                    text-transform: unset;
                    background-color: unset;
                    &:hover{
                      color: $brand-btn;
                    }
                  }
                }

              }
              &:hover{
                  color: #5BEAE1;
                ul {
                  //display: block;
                  z-index: 2;
                }
              }
            }
          }
        }
      }
      @include _media-md-down() {
        order:3;
        padding: 0;
      }
    }

  }

}
.menu_mobile{
  .menu_services{
    position: relative;
    .services_submenu{
      margin-bottom: 0;
      li{
        display: block;
        height: auto;
        margin-left: 0;
        padding: 5px;
        padding-left: 35px;
        cursor: pointer;
        font-weight: 500;
        svg{
          position: absolute;
          right: 15px;
          top: 12px;
          display: block;
          }
        ul{
          display: block;
          height: 0;
          overflow: hidden;
          margin-bottom: -1px;
          border: none;
          //transition:all .3s ease-in-out;
          li{
            padding: 0;
            border: none;
            a{
              font-weight: 500;
            }
          }
        }
        &.active{
          svg{
            transform: rotate(270deg);
          }
          ul{
            height: 100%;
            //transition:all .3s ease-in-out;
          }
        }
      }
    }
  }
}


#hamb_button{
  display: none;
  position: absolute;
  right: 14px;
  @include _media-lg-down() {
    display: block;
    z-index: 999999;
    height: 40px;
    padding: 0;
  }
}


.fixed-bar {
  display: none;
  background: $brand-secondary;
  box-shadow: 0px 0px 1px #000;
  box-shadow: 0px 0px 20px rgba(0,0,0,.1);
  position: fixed;
  z-index: 999;
  width: 100%;
  opacity: 1;
  top: 0;
  padding: 0;
  padding: 0 10px;
  color: white !important;
  .header_btn{
    color: white !important;
    a{
      color: white;
      font-weight: 400;
    }
  }
  .menu-menu-container{
    height: 70px !important;
  }
  li{
    padding: 12px 0 !important;
    a{
      color: white !important;
      font-weight: 400;
    }
    &:hover{
      .sub-menu{
        top: 40px !important;
      }
    }

  }
  .services_submenu{
    a{
      color: $brand-primary !important;
      &:hover{
        color: $brand-btn !important;
      }
    }
    li{
      ul{
        li{
          padding: 0 !important;
        }
      }
    }
  }
  .sub-menu{
    li{
      padding: 0 !important;
    }
  }
  .head_menu{
    margin-bottom: 0 !important;
    height: 75px;
  }
  @include _media-lg-down() {
    display: none !important;
  }
  .services_submenu{
    top: 65px !important;
    background-color: #343434 !important;
  }
  .services_submenu li {
    display: block;
    height: auto;
    margin-left: 0;
    padding: 15px 30px !important;
  }
}





.bg {
  &.active {
    z-index: 99;
    width: 100%;
    background-color: #4a4a4a;
    opacity: .8;
    -webkit-transition: all .5s ease-in-out;
    -o-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;
    left: 0;
    right: 0;
    position: fixed;
    height: 100%;
    top: 0;
    bottom: 0;
  }
}




.animated-quick {
  -webkit-animation: .5s ease;
  -moz-animation: .5s ease;
  -ms-animation: .5s ease;
  -o-animation: .5s ease;
  animation: .5s ease;
  -webkit-animation-fill-mode: both;
  -moz-animation-fill-mode: both;
  -ms-animation-fill-mode: both;
  -o-animation-fill-mode: both;
  animation-fill-mode: both;
}



.fadeInDown {
  -webkit-animation-name: fadeInDown;
  -moz-animation-name: fadeInDown;
  -ms-animation-name: fadeInDown;
  -o-animation-name: fadeInDown;
  animation-name: fadeInDown;
  display: block !important;
  @include _media-lg-down() {
    display: none !important;
  }
}

.fadeOutUp {
  -webkit-animation-name: fadeOutUp;
  -moz-animation-name: fadeOutUp;
  -ms-animation-name: fadeOutUp;
  -o-animation-name: fadeOutUp;
  animation-name: fadeOutUp;
  @include _media-md-down() {
    display: none !important;
  }
}


.animated {
  -webkit-animation: 1s ease;
  -moz-animation: 1s ease;
  -ms-animation: 1s ease;
  -o-animation: 1s ease;
  animation: 1s ease;
  -webkit-animation-fill-mode: both;
  -moz-animation-fill-mode: both;
  -ms-animation-fill-mode: both;
  -o-animation-fill-mode: both;
  animation-fill-mode: both;
}

.animated-quick {
  -webkit-animation: .5s ease;
  -moz-animation: .5s ease;
  -ms-animation: .5s ease;
  -o-animation: .5s ease;
  animation: .5s ease;
  -webkit-animation-fill-mode: both;
  -moz-animation-fill-mode: both;
  -ms-animation-fill-mode: both;
  -o-animation-fill-mode: both;
  animation-fill-mode: both;
}






.fadeIn {
  -webkit-animation-name: fadeIn;
  -moz-animation-name: fadeIn;
  -ms-animation-name: fadeIn;
  -o-animation-name: fadeIn;
  animation-name: fadeIn;
}
@-webkit-keyframes fadeInUp {
  0% {
    opacity: 0;
    -webkit-transform: translateY(20px);
  }

  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
  }
}

@-moz-keyframes fadeInUp {
  0% {
    opacity: 0;
    -moz-transform: translateY(20px);
  }

  100% {
    opacity: 1;
    -moz-transform: translateY(0);
  }
}

@-ms-keyframes fadeInUp {
  0% {
    opacity: 0;
    -ms-transform: translateY(20px);
  }

  100% {
    opacity: 1;
    -ms-transform: translateY(0);
  }
}

@-o-keyframes fadeInUp {
  0% {
    opacity: 0;
    -o-transform: translateY(20px);
  }

  100% {
    opacity: 1;
    -o-transform: translateY(0);
  }
}

@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.fadeInUp {
  -webkit-animation-name: fadeInUp;
  -moz-animation-name: fadeInUp;
  -ms-animation-name: fadeInUp;
  -o-animation-name: fadeInUp;
  animation-name: fadeInUp;
}
@-webkit-keyframes fadeInDown {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-20px);
  }

  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
  }
}

@-moz-keyframes fadeInDown {
  0% {
    opacity: 0;
    -moz-transform: translateY(-20px);
  }

  100% {
    opacity: 1;
    -moz-transform: translateY(0);
  }
}

@-ms-keyframes fadeInDown {
  0% {
    opacity: 0;
    -ms-transform: translateY(-20px);
  }

  100% {
    opacity: 1;
    -ms-transform: translateY(0);
  }
}

@-o-keyframes fadeInDown {
  0% {
    opacity: 0;
    -ms-transform: translateY(-20px);
  }

  100% {
    opacity: 1;
    -ms-transform: translateY(0);
  }
}

@keyframes fadeInDown {
  0% {
    opacity: 0;
    transform: translateY(-20px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.fadeInDown {
  -webkit-animation-name: fadeInDown;
  -moz-animation-name: fadeInDown;
  -ms-animation-name: fadeInDown;
  -o-animation-name: fadeInDown;
  animation-name: fadeInDown;
}
@-webkit-keyframes fadeInLeft {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-20px);
  }

  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
  }
}

@-moz-keyframes fadeInLeft {
  0% {
    opacity: 0;
    -moz-transform: translateX(-20px);
  }

  100% {
    opacity: 1;
    -moz-transform: translateX(0);
  }
}

@-ms-keyframes fadeInLeft {
  0% {
    opacity: 0;
    -ms-transform: translateX(-20px);
  }

  100% {
    opacity: 1;
    -ms-transform: translateX(0);
  }
}

@-o-keyframes fadeInLeft {
  0% {
    opacity: 0;
    -o-transform: translateX(-20px);
  }

  100% {
    opacity: 1;
    -o-transform: translateX(0);
  }
}

@keyframes fadeInLeft {
  0% {
    opacity: 0;
    transform: translateX(-20px);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}








@-webkit-keyframes fadeOut {
  0% {opacity: 1;}
  100% {opacity: 0;}
}

@-moz-keyframes fadeOut {
  0% {opacity: 1;}
  100% {opacity: 0;}
}

@-ms-keyframes fadeOut {
  0% {opacity: 1;}
  100% {opacity: 0;}
}

@-o-keyframes fadeOut {
  0% {opacity: 1;}
  100% {opacity: 0;}
}

@keyframes fadeOut {
  0% {opacity: 1;}
  100% {opacity: 0;}
}

.fadeOut {
  -webkit-animation-name: fadeOut;
  -moz-animation-name: fadeOut;
  -ms-animation-name: fadeOut;
  -o-animation-name: fadeOut;
  animation-name: fadeOut;
}
@-webkit-keyframes fadeOutUp {
  0% {
    opacity: 1;
    -webkit-transform: translateY(0);
  }

  100% {
    opacity: 0;
    -webkit-transform: translateY(-20px);
  }
}
@-moz-keyframes fadeOutUp {
  0% {
    opacity: 1;
    -moz-transform: translateY(0);
  }

  100% {
    opacity: 0;
    -moz-transform: translateY(-20px);
  }
}
@-ms-keyframes fadeOutUp {
  0% {
    opacity: 1;
    -ms-transform: translateY(0);
  }

  100% {
    opacity: 0;
    -ms-transform: translateY(-20px);
  }
}
@-o-keyframes fadeOutUp {
  0% {
    opacity: 1;
    -o-transform: translateY(0);
  }

  100% {
    opacity: 0;
    -o-transform: translateY(-20px);
  }
}
@keyframes fadeOutUp {
  0% {
    opacity: 1;
    transform: translateY(0);
  }

  100% {
    opacity: 0;
    transform: translateY(-20px);
  }
}

.fadeOutUp {
  -webkit-animation-name: fadeOutUp;
  -moz-animation-name: fadeOutUp;
  -ms-animation-name: fadeOutUp;
  -o-animation-name: fadeOutUp;
  animation-name: fadeOutUp;
}



.hamburger--slider .hamburger-inner::before, .hamburger-inner, .hamburger-inner::after, .hamburger-inner::before {
  -webkit-transition-timing-function: ease;
  -o-transition-timing-function: ease;
  -webkit-transition-duration: .15s;
  -o-transition-duration: .15s;
}
.hamburger {
  display: block;
  margin: 0;
  height: 30px;
  width: 40px;
  padding: 0;
  background: 0 0;
  float: right;
  font: inherit;
  overflow: visible;
  cursor: pointer;
  -webkit-transition-timing-function: linear;
  -o-transition-timing-function: linear;
  transition-timing-function: linear;
  -webkit-transition-duration: .15s;
  -o-transition-duration: .15s;
  transition-duration: .15s;
  -webkit-transition-property: opacity,-webkit-filter;
  -o-transition-property: opacity,filter;
  transition-property: opacity,filter;
  transition-property: opacity,filter,-webkit-filter;
  text-transform: none;
  color: inherit;
  border: 0;
  z-index: 2000;
  position: relative;
}
.hamburger-box {
  position: relative;
  display: inline-block;
  width: 16px;
  height: 16px;
  margin-top: 0;
}
.hamburger-inner {
  top: 50%;
  display: block;
  margin-top: -2px;
}
.hamburger-inner::after, .hamburger-inner::before {
  display: block;
  content: "";
}
.hamburger-inner, .hamburger-inner::after, .hamburger-inner::before {

  position: absolute;
  width: 16px;
  height: 2px;
  transition-timing-function: ease;
  transition-duration: .15s;
  -webkit-transition-property: -webkit-transform;
  -o-transition-property: transform;
  transition-property: transform;
  transition-property: transform,-webkit-transform;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  background-color: $brand-primary;
}
.hamburger--collapse .hamburger-inner {
  top: auto;
  bottom: 0;
  -webkit-transition-delay: .13s;
  -o-transition-delay: .13s;
  transition-delay: .13s;
  -webkit-transition-timing-function: cubic-bezier(.55,.055,.675,.19);
  -o-transition-timing-function: cubic-bezier(.55,.055,.675,.19);
  transition-timing-function: cubic-bezier(.55,.055,.675,.19);
  -webkit-transition-duration: .13s;
  -o-transition-duration: .13s;
  transition-duration: .13s;
}
.hamburger--collapse.is-active .hamburger-inner {
  -webkit-transition-delay: .22s;
  -o-transition-delay: .22s;
  transition-delay: .22s;
  -webkit-transition-timing-function: cubic-bezier(.215,.61,.355,1);
  -o-transition-timing-function: cubic-bezier(.215,.61,.355,1);
  transition-timing-function: cubic-bezier(.215,.61,.355,1);
  -webkit-transform: translate3d(0,-6px,0) rotate(-45deg);
  transform: translate3d(0,-6px,0) rotate(-45deg);
  background-color: $brand-primary;
}
.hamburger--collapse .hamburger-inner::before {
  -webkit-transition: top .12s cubic-bezier(.33333,.66667,.66667,1) .2s,-webkit-transform .13s cubic-bezier(.55,.055,.675,.19);
  -o-transition: top .12s cubic-bezier(.33333,.66667,.66667,1) .2s,transform .13s cubic-bezier(.55,.055,.675,.19);
  transition: top .12s cubic-bezier(.33333,.66667,.66667,1) .2s,transform .13s cubic-bezier(.55,.055,.675,.19);
  transition: top .12s cubic-bezier(.33333,.66667,.66667,1) .2s,transform .13s cubic-bezier(.55,.055,.675,.19),-webkit-transform .13s cubic-bezier(.55,.055,.675,.19);
}
.hamburger--collapse.is-active .hamburger-inner::before{
  top: 0;
  -webkit-transition: top .1s cubic-bezier(.33333,0,.66667,.33333) .16s,-webkit-transform .13s cubic-bezier(.215,.61,.355,1) .25s;
  -o-transition: top .1s cubic-bezier(.33333,0,.66667,.33333) .16s,transform .13s cubic-bezier(.215,.61,.355,1) .25s;
  transition: top .1s cubic-bezier(.33333,0,.66667,.33333) .16s,transform .13s cubic-bezier(.215,.61,.355,1) .25s;
  transition: top .1s cubic-bezier(.33333,0,.66667,.33333) .16s,transform .13s cubic-bezier(.215,.61,.355,1) .25s,-webkit-transform .13s cubic-bezier(.215,.61,.355,1) .25s;
  -webkit-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  transform: rotate(-90deg);
  background-color: $brand-primary;
}
.hamburger-inner::after {
  bottom: -6px;
}
.hamburger-inner::before {
  top: -6px;
}
.hamburger--collapse .hamburger-inner::after {
  top: -12px;
  -webkit-transition: top .2s cubic-bezier(.33333,.66667,.66667,1) .2s,opacity .1s linear;
  -o-transition: top .2s cubic-bezier(.33333,.66667,.66667,1) .2s,opacity .1s linear;
  transition: top .2s cubic-bezier(.33333,.66667,.66667,1) .2s,opacity .1s linear;
}
.hamburger--collapse.is-active .hamburger-inner::after{
  top: 0;
  -webkit-transition: top .2s cubic-bezier(.33333,0,.66667,.33333),opacity .1s linear .22s;
  -o-transition: top .2s cubic-bezier(.33333,0,.66667,.33333),opacity .1s linear .22s;
  transition: top .2s cubic-bezier(.33333,0,.66667,.33333),opacity .1s linear .22s;
  opacity: 0;
}