.background_grey {
  background-color: #F7F9FA;
}
.background_blue {
  background: linear-gradient(232.18deg,rgba(18,117,234,.7) .48%,rgba(7,0,92,.7) 98.77%),linear-gradient(232.18deg,rgba(74,57,139,.7) .48%,rgba(0,174,153,.7) 98.77%);
  h1,h2,h3,h4,h5,h6,p{
  color: white !important;
  }
}
.background_image_dots{
  background-image: url(/pattern.png);
}
.title_block {
  text-align: center;
  color: #6D8999;
  margin-bottom: 35px;
  h1,h2,h3,h4,h5,h6{
    font-weight: 700;
    color: #6D8999;
    margin-bottom: 35px;
  }
}
.horizontal_white_block{
  margin-bottom: 30px;
  .card_inner{
    display: flex;
    background-color: white;
    align-items: flex-start;
    height: 100%;
    padding: 26px;
    box-shadow: 4px 4px 25px rgb(11 57 145 / 7%);
    border-radius: 10px;
    img{
      width: 150px;
    }
    .card_content{
      padding-left: 20px;
      color: #7C7C7C;
      font-size: 14px;
      p{
        line-height: 1.5em;
      }
      h1,h2,h3,h4,h5,h6 {
        color: #6E8999;
        font-weight: 700;
        margin-bottom: 15px;
        margin-top: 5px;
      }
    }
  }
}

.vertical_white_block{
  margin-bottom: 30px;
  text-align: center;
  .card_inner{
    background-color: white;
    height: 100%;
    padding: 42px 20px;
    box-shadow: 4px 4px 25px rgb(11 57 145 / 7%);
    border-radius: 10px;
    img{
      width: 150px;
    }
    .card_content{
      padding-top: 40px;
      color: #7C7C7C;
      font-size: 14px;
      p{
        line-height: 1.5em;
      }
      h1,h2,h3,h4,h5,h6 {
        color: black;
        font-weight: 700;
        margin-bottom: 20px;
        margin-top: 5px;
      }
    }
  }
}

.top_image_block{
    .card_inner{
      text-align: center;
      img{
        margin-bottom: 5px;
        height: 120px;
      }
      .card_content{
        padding-left: 20px;
        color: #6E8999;
        line-height: 1;
        h1,h2,h3,h4,h5,h6 {
          color: #6E8999;
          font-weight: 700;
          margin-bottom: 15px;
          margin-top: 5px;
        }
      }
    }
}