.blog_top_section{
  padding: 60px 0;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  h1{
    color: #6E8999;
    font-weight: 600;
  }
}
.category_blog{
  display: flex;
  margin-bottom: 40px;
  justify-content: center;
  li{
    width: auto;
    height: 45px;
    margin-bottom: 15px;
    background-color: #ECECEC;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 21px;
    margin-left: 10px;
    margin-right: 10px;
    transition: all .3s ease-in-out;
    padding: 0 35px;
    font-size: 18px;
    font-weight: 400;
    cursor: pointer;
    &:hover{
      background-color: #FF6D1B;
      color: white;
      transition: all .3s ease-in-out;
      a{
        color: white;
      }
    }
  }
}
.blog_section{
  .blog_item_inner{
    position: relative;
    z-index: 1;
    height: 300px;
    border-radius: 20px;
    overflow: hidden;
    margin-bottom: 30px;
    a{
      color: white;
      position: absolute;
      width: 100%;
      height: 100%;
      left: 0;
      top: 0;
      display: flex;
      align-items: flex-end;
      padding: 30px;
    }
    img{
      position: absolute;
      width: 100%;
      height: 100%;
      z-index: -1;
      left: 0;
      top: 0;
      object-fit: cover;
      object-position: center;
      transform: scale(1);
      transition: all .3s ease-in-out;
    }
    &:hover{
      img {
        transform: scale(1.2);
        transition: all .3s ease-in-out;
      }
    }
  }
}
.posts_pagination{
  ul{
    display: flex;
    justify-content: center;
    width: 100%;
    margin-top: 15px;
    li{
      padding: 13px 18px;
      font-size: 18px;
      margin: 5px;
      border-radius: 5px;
      background-color: #ECECEC;
      color: #3f3f3f;
      cursor: pointer;
      transition: all .3s ease-in-out;
      &:hover{
          background-color: #FF6D1B;
          color: white;
          transition: all .3s ease-in-out;
      }
    }
  }
}